body {
    background-color: blue;
}

img {
    height: 100%;
}

td {
    height: 100px;
}

h2 {
    text-align: center;
    color: white;
}

.precio {
    display: block;
    font-size: 20px;
}

#carrito {
    width: 30%;
    background-color: black;
    height: 100vh;
}

#listaProductos {
    width: 70%;
}

#contenedorPadre {
    display: flex;
}

.clima-div{
    background-color:#c88066;
    height: 100px;
    display: flex;
    justify-content: space-around;
  }

  .modal-div {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: #c88066;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    top: 80px;
    scrollbar-color: none;
  }

  .modal-div::-webkit-scrollbar {
    display: none;
  } 
